.navbar {
  border-radius: 0;
  background: rgb(216, 238, 244);
}

.logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(9, 19, 48);
}

.logo:hover {
  color: #47b2e4;
  text-decoration: none;
}

.menu-item {
  white-space: nowrap;
  display: inline-block;
  padding: 10px 0 10px 28px;
  color: black;
}

.menu-item a {
  display: block;
  color: rgb(9, 19, 48);
  transition: 0.3s;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.menu-item a:hover, .menu-item .active > a, .menu-item li:hover > a {
  color: #47b2e4;
  text-decoration: none;
}

