#photo-card {
    border: none;
    max-width: 500px;
    overflow: hidden;
    border-radius: 40px;
    margin-bottom: 30px;
    color: white;
}

#cam-btn {
    color: rgb(9, 19, 48);
    transition: 0.3s;
    font-size: 25px;
    display: inline-block;
    border: none;
    background: none;
    font-weight: 600;
}
  
#cam-btn:hover {
    font-size: 30px;
}

.modal-bdy {
    text-align: center;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
#captureBtn {
    color: white;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;;
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    transition: 0.3s;
    display: inline-block;
    border: none;
    background: #03186b;
    margin-right: 20px;
}
  
#captureBtn:hover {
    background: #0f2991;
    text-decoration: none;
}

#saveBtn {
    color: white;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;;
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    transition: 0.3s;
    display: inline-block;
    border: none;
    background: #2e066e;
    margin-left: 20px;
}
  
#saveBtn:hover {
    background: #50209e;
    text-decoration: none;
}

@media (max-width: 575px) {
    #captureBtn {
        margin-right: 10px;
    }
    #saveBtn {
        margin-left: 10px;
    }
}

#imageDiv {
    margin-top: 5px;
}