#photo-card {
    border: none;
    max-width: 500px;
    overflow: hidden;
    border-radius: 40px;
    margin-bottom: 30px;
    color: white;
}

#cam-btn {
    color: rgb(9, 19, 48);
    transition: 0.3s;
    font-size: 25px;
    display: inline-block;
    border: none;
    background: none;
    font-weight: 600;
}
  
#cam-btn:hover {
    font-size: 30px;
}

#captureBtn {

}

#saveBtn {

}

#webcam {
    display: block;
}

#webcamDiv{

}

#imageDiv {
    
}