body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
  
a {
    color: #47b2e4;
}
  
a:hover {
    color: #73c5eb;
    text-decoration: none;
}
  
h1, h2, h3, h4, h5, h6, p {
    font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    /* background: rgb(216, 238, 244); */
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #D8EEF4, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #D8EEF4, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

#hero .container-fluid {
    padding-top: 90px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-weight: 700;
    line-height: 56px;
    color: rgb(9, 19, 48);
}

#hero h2 {
    color: rgb(9, 19, 48);
    margin-bottom: 50px;
}

#hero img {
    max-width: 500px;
    height: auto;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #hero {
        height: 100vh;
        text-align: center;
    }
    #hero .hero-img {
        text-align: center;
    }
        #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
        #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
        #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
        #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}


@-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

/*--------------------------------------------------------------
# Wave Container
--------------------------------------------------------------*/
.wave-container {
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D8EEF4, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #D8EEF4, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wave-container > svg {
    display: block;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about {
    background-color: rgb(9, 19, 48);
    color: white;
    text-align: center;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

#about .card-deck{
    margin-top: 30px;
    color: black;
    text-align: left;
}

#about .card-img-top{
    width: 20%;
    align-self: center;
    padding-top: 20px;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
#any-btn {
    color: #fff;
    border-radius: 50px;
    padding: 6px 25px 7px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: none;
    background: #47b2e4;
    font-weight: 600;
}
  
#any-btn:hover {
    background: rgb(168, 136, 228);
    color: #fff;
    text-decoration: none;
}
  
@media (max-width: 768px) {
    #any-btn {
      margin: 0 0 0 0;
      padding: 6px 20px 7px 20px;
    }
}

/*--------------------------------------------------------------
# Hero-Login Section
--------------------------------------------------------------*/
#hero-login {
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D8EEF4, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #D8EEF4, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 1100px !important
}

#hero-login .container-fluid {
    padding-top: 90px;
}

#hero-login h1 {
    margin: 0 0 10px 0;
    font-weight: 700;
    line-height: 56px;
    color: rgb(9, 19, 48);
}

#hero-login h2 {
    color: rgb(9, 19, 48);
    margin-bottom: 50px;
}

#hero-login a {
    color: #47b2e4;
}
  
#hero-login a:hover {
    color: rgb(168, 136, 228);
    text-decoration: none;
}

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
.block .container-fluid {
    padding-top: 90px;
    justify-content: center;
}

.block h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgb(9, 19, 48);
    text-align: center;

}

.block h2 {
    color: rgb(9, 19, 48);
    margin-bottom: 50px;
    font-size: 24px;
    text-align: center;
}

/*--------------------------------------------------------------
# Steps
--------------------------------------------------------------*/
.steps {
    background-color: rgb(223, 229, 238);
    padding-bottom: 50px;
}

.treatment {
    background-color: rgb(9, 19, 48);
    height: 100vh;
}

.treatment h1 {
    color: white;
}

.treatment h2 {
    color: white;
}

/*--------------------------------------------------------------
# HandGest
--------------------------------------------------------------*/
.handgest {
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: auto;
}